<h2>SIGN IN TO OUR AMAZING SITE</h2>

<form action=<%= session_url%> method="POST">
  <input type="hidden" name="authenticity_token" value=<%= form_authenticity_token %>>
  <!-- form_authenticity_token is a rails helper method -->
  <!-- needed for non-GET requests  -->

  <label >Username
    <input type="text" name="user[username]" value="">
  </label>

  <label >Password
    <input type="password" name="user[password]" value="">
  </label>

  <input type="submit" value="SIGN IN">

</form>